body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
}
ul {
	list-style: none;
}
a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
/* Header & Footer  */
#header,
#footer {
	color: white;
	background-color: rgb(99, 72, 163);
	display: flex;
	height: auto;
}
#logo {
	width: 100px;
	height: auto;
}
#header {
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
#left-links {
	font-size: 23px;
	font-weight: bold;
}
#right-links {
	display: flex;
	gap: 15px;
}
#footer {
	justify-content: center;
	align-items: center;
}
/* Section 1 */
#section-1 {
	background-color: rgb(150, 117, 222);
	display: flex;
	padding: 20px;
	gap: 50px;
	align-items: center;
	justify-content: center;
}
#section-1-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 500px;
}
#section-1-heading {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0px;
}
#sign-up-1 {
	height: 30px;
	width: 100px;
	border-radius: 7px;
	color: rgb(162, 162, 251);
	background-color: rgb(13, 13, 1);
}
#section-1-image {
	display: flex;
	background-color: rgb(213, 207, 207);
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 7px;
	border: 5px solid rgb(56, 13, 150);
	width: 300px;
	height: 200px;
}
/* Section 2 */
#section-2-heading {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
#cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
}
#card {
	display: flex;
	flex-direction: column;
}
#box {
	height: 250px;
	width: 250px;
	border-radius: 7px;
	border: 5px solid rgb(56, 13, 150);
	background-color: rgb(230, 224, 224);
}
#card-text {
	height: auto;
	width: 250px;
	text-align: center;
}
/* Section 3 */
#section-3 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
}
#quote {
	font-size: 40px;
	font-style: italic;
}
#author {
	text-align: end;
	font-size: 25px;
}
/* Section 4 */
#section-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}
#signup-box {
	border: 3px solid rgb(162, 162, 251);
	border-radius: 7px;
	display: flex;
	background-color: rgb(162, 162, 251);
	gap: 40px;
	align-items: center;
	padding: 40px;
}
#sign-up-4 {
	height: 30px;
	width: 100px;
	border-radius: 7px;
	color: rgb(162, 162, 251);
	background-color: rgb(13, 13, 1);
}
#section-4-heading {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0px;
}
